.photos {
    display: flex;
    gap: 40px;
}

.smPhotos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.smPhotos img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

.bigPhoto img  {
    width: 610px;
    height: 511px;
    object-fit: contain;
}