h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.text-options {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    /* margin-bottom: 8px; */
}

.text-options button {
    padding: 8px;
    /* width: 24px;
    height: 24px; */
    border: solid 1px #1D1F22;
    background: none;
}

.color-swatch .color {
    width: 24px;
    height: 24px;
}

.attribs {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected-color {
    width: 24px;
    height: 24px;
    border: solid 1px #5ECE7B;
}

button.selected-attrib {
    background-color: #1D1F22;
    color: #fff;
}